body { background-color: #0C1124;}

#content {
	padding: 20px;
}

.k_graphs {
	background: url(../images/bg-graf.png) no-repeat;	
    border:1px solid #455a6b;
    background-color:#384757;
    box-shadow:0 0 15px #192027 inset;
	width: 250px;
	height: 98px;	
    position: relative;
	background-position: 6px 22px;
}

.k_graphs canvas {
    top        : -20px;
    position   : relative;
    margin-left : 6px;
    margin-top  : 22px;				
}

.pushbuttons {
	width: 250px;
	height: 16px;
	position: absolute;				
	font-size: 11px;
	padding: 0 5px;
}

.dote_block {
	float: left;
	width: 60px;
}

.dote_name {
	color: #fff;
	margin-right: 2px;
}

.dote_value {
	color: #b4c1ca;
}

#cut2 {
	position: absolute;
	left: 300px;
	top: 180px;
}